@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container text-center my-4">
        <div class="p-4 bg-light border rounded shadow-sm">
            <h4 class="mb-3">🎥 Мій персональний кіножурнал</h4>
            <p class="mb-2">
                Цей сайт створено для збереження фільмів, які я переглянув. Тут я фіксую назви, жанри, описи, авторів, рік випуску та власний рейтинг кожного фільму.
            </p>
            <p class="mb-2">
                🎯 Мета — мати власну базу улюблених і переглянутих фільмів, щоб швидко згадати, що варто передивитися або порадити друзям.
            </p>
            <p class="mb-3">
                📌 Також я можу додавати нові фільми, редагувати їх, видаляти непотрібні — і все це в одному зручному місці.
            </p>
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="AddMoviePage">
                ➕ Додати новий фільм
            </a>
            <a class="btn btn-outline-primary" asp-controller="Movie" asp-action="MovieListPage">
                🎥 Переглянути мої фільм
            </a>

        </div>
    </div>
</div>
